body {
    background-color: #22966f;
    font-size: 130%;
}
title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
*{
    box-sizing: border-box;
    width: 100%;
}



/*div#container{
    background-color: #317bd1;
}*/

#box{
    background-color: #6a097e;
}

p{

    width: 90%;
    border: 1px solid black;
    float: left;
    padding: 15px;  
    text-align: left;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f8ff;
}

#p1{
    background-color: #ecc784;
    border: 3px solid black;
    position: relative;
    left: 5px;
    
}

#p2{
    background-color: #120fe6;
    border: 3px solid black;
    position: relative;
    left: 5px;
}

#p3{
    background-color: #127777;
    border: 3px solid black;
    position: relative;
    left: 5px;
}

#chicken{
    background-color: #09707e;
    font-size: 15px; 
    text-align: center;
    border: 1px solid black;
    width: 25%;
    height: 10px;
    float: left;
    position: relative;
    top: -183px;
    left: 66%;
    right: 100px;  
}

#seafood{
    background-color: #6a097e;
    font-size: 15px; 
    text-align: center;
    border: 1px solid black;
    width: 25%;
    height: 10px;
    float: left;
    position: relative;
    top: -183px;
    left: 66%;
    right: 100px;  
}

#beef{
    background-color:#ecc784;
    font-size: 15px; 
    text-align: center;
    border: 1px solid black;
    width: 25%;
    height: 10px;
    float: left;
    position: relative;
    top: -183px;
    left: 66%;
    right: 100px;  
}


.row{
    width:100%
}

/*************Large Devices such as Desktops*********/
@media(min-width:992px){
    .col-lg-1, .col-lg-2, .col-lg-3{
        float: left;
        
    }
    .col-lg-1{
        width: 80%;
    }
    .col-lg-2{
        width: 300px;
        height:300px;
    }
    .col-lg-3{
        width: 300px;
        height:300px;
    }
}

/*************Medium Devices such as Tablets*********/
@media(min-width:768px) and (max-width:991px){
    .col-lg-1, .col-lg-2, .col-lg-3{
        float: left;
        
    }
    .col-lg-1{
        width: 50%
    }
    .col-lg-2{
        width: 100px;
        height:100px;
    }
    .col-lg-3{
        width: 100px;
        height:100px;
    }
}


   
