body{

    background: #0c8b8b;
}

*{box-sizing:border-box;
margin:0;
padding:0;
font-family:'Bell MT';
}


h1
{
    text-align:center;
    margin-bottom:60px;
}

p
{
    background-color:gray;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
    padding:5px;
}
section {
    border-bottom:2px;
    border-left:2px;
    border-right:0px;
    border-top:0px;
    border-style:solid;
    border-color:black;
    padding: 4px 10px 4px 10px;
    top:0px;
    right:0px;
    position:absolute;
    width:200px;
    text-align:center;
    font-weight:bold;
    font-size:175%;
}

section#sec1
{
    background-color:pink;
}
section#sec2
{
    background-color:red;
    color:white;
}
section#sec3
{
    background-color:yellow;
}

div {
    font-size:125%;
    background-color:gray;
    padding:60px 10px 10px 10px;
    
    border: 2px solid black;
    margin:4px;
    height:auto;
    position:relative;
    float:left;
    overflow:scroll;
}

.row {
    width:100%;
}
@media(min-width: 992px)
{
    #d1{
    width:30%;
    float:left;
    margin-left:30px;
}

#d2{
    width:30%;
    float:left;
}

#d3 {
   width:30%;
}

}

@media(min-width:768px) and (max-width:991px) {
   #d1 {
    width:45%;
    float:left;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom:20px;

}

#d2 {
    width:45%;
    float:left;
   margin-bottom:20px;
    margin-right:2.5%;

}

#d3 {
   width:92.5%;
   clear:both;
    margin-left:2.5%;
    margin-right:2.5%;
}
}

@media(max-width:767px) {
   #d1 {
    width:80%;
    margin-left:10%;
    margin-right:10%;
}

#d2 {
   width:80%;
    margin-left:10%;
    margin-right:10%;
}

#d3 {
   width:80%;
    margin-left:10%;
    margin-right:10%;
}
}

