<div ng-if="list.isEmpty()"><h2>Nothing found</h2></div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Menu Item, Code, Description</th>
           <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in list.found">
            <td>{{item.name}},{{item.short_name}},{{item.description}}</td>
            <td><button ng-click="list.onRemove({index: $index});">Don't want this one!</button></td>
        </tr>
      </tbody>
  </table>
<div>  
